*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

ul {
  list-style-type: none;
  padding-top: 3em;
  display: flex;
}

#root {
  max-width: 900px;
  min-height: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: linear-gradient(#3eb9de, #3a80de);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

li.task-container {
  position: relative;
  min-height: 100px;
  width: 230px;
  border-radius: 6px;
  padding: 8px;
  margin-right: 3em;
  background-color: #e5eff5;
}

li.task-container.over {
  border: 2px dashed #000;
}

li.task-container h5 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin: 0 0 8px 3px;
}

li.new-container {
  position: relative;
  height: 50px;
  width: 230px;
  border-radius: 6px;
  padding: 8px;
  background-color: #add8e6;
}

li.add-container {
  position: relative;
  width: 230px;
  border-radius: 6px;
  padding: 8px;
  margin-right: 3em;
  background-color: #e5eff5;
}

.add-input {
  width: 100%;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
}

.add-container-button {
  background-color: #5aac44;
  border: none;
  color: #fff;
  height: 32px;
  padding: 4px 0;
  width: 100px;
  margin-top: 1em;
  border-radius: 3px;
}

.add-container-button::before {
  content: "\002b";
}

.add-task-button {
  padding-top: 1.5em;
}

.add-task-button::before {
  content: "\002b";
}

.task-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.task {
  position: relative;
  background-color: #fff;
  padding: 6px 8px 2px;
  margin: 0.5em 0;
  z-index: 10;
  width: 100%;
  border-radius: 3px;
}

.task.over {
  border: 2px dashed #000;
}

.close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.add-text {
  padding: 0.5em;
}

.task-text {
  margin: 10px;
}
